@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
html {
  background: white;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
  @apply bg-white text-slate-900;
  filter: grayscale(100%) contrast(115%);
}

a {
  @apply text-slate-900 hover:text-slate-700;
}

button {
  @apply transition-colors duration-200;
}
